@import "tailwindcss";

:root {
  --background: #f3fbff;
  --foreground: #0f172a;
}

body {
  background:
    radial-gradient(circle at 10% 0%, #dbeafe 0%, transparent 35%),
    radial-gradient(circle at 100% 0%, #ccfbf1 0%, transparent 30%),
    var(--background);
  color: var(--foreground);
}
